.nav-bar {
  display: flex;
  height: 50px;
  gap: 24px;
  border-bottom: 0.5px solid rgb(192, 191, 191);
}

.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.site-logo-link {
  height: 100%;
}

.site-logo {
  height: 100%;
  border-radius: 100%;
}

.nav-item:hover {
  text-shadow: 0 0 1px;
}

.nav-item-selected {
  text-shadow: 0 0 1px;
}

.btn-primary:hover {
  transition: background-color 0.5s ease;
  background-color: #1f69df;
}
