.nav-bar {
  display: flex;
  gap: 24px;
  padding: 8px;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.site-logo {
  width: 50px;
  border-radius: 100%;
}

.nav-item:hover {
  text-shadow: 0 0 1px;
}