.nav-bar {
  display: flex;
  gap: 24px;
  padding: 8px;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.site-logo {
  width: 50px;
  border-radius: 100%;
}

.nav-item:hover {
  text-shadow: 0 0 1px;
}

.main-content {
  justify-items: center;
}

.btn-primary:hover{ 
  transition: background-color 0.5s ease;
  background-color: #1f69df;
}